<p id="notice"><%= notice %></p>

<h1>Carrinho Vendas</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th></th>
      <th>Avatar</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrinho_vendas.each do |carrinho_venda| %>
      <tr>
        <td><%= carrinho_venda.cliente.nome %></td>
        <td><%= carrinho_venda.avatar %></td>
        <td><%= link_to 'Show', carrinho_venda %></td>
        <td><%= link_to 'Edit', edit_carrinho_venda_path(carrinho_venda) %></td>
        <td><%= link_to 'Destroy', carrinho_venda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrinho Venda', new_carrinho_venda_path %>
