<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @carrinho_venda.cliente_id %>
</p>

<p>
  <strong>:</strong>
  <%= @carrinho_venda. %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @carrinho_venda.avatar %>
</p>

<p>
  <strong>:</strong>
  <%= @carrinho_venda. %>
</p>

<%= link_to 'Edit', edit_carrinho_venda_path(@carrinho_venda) %> |
<%= link_to 'Back', carrinho_vendas_path %>
